* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Funnel Sans', sans-serif;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

section {
  scroll-margin-top: 60px;
}
