.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

main {
  width: 100%;
  max-width: 1200px;
  border: 1px solid red;
}

header#about {
  display: flex;
  margin: 3rem 0;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid green;
}

.left-column,
.right-column {
  flex: 1 1 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  border: 1px solid salmon;
}

.right-column {
  display: flex;
  justify-content: flex-end;
}

div.left-column h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 8px;
}

div.left-column h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 0.9;
}

div.left-column p {
  font-size: 20px;
  font-weight: 300;
}

div.cta {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

div.cta > a {
  text-decoration: none;
  color: black;
  border: 1px solid red;
  padding: 8px;
}

div.right-column > img {
  max-height: 300px;
}

@media (max-width: 650px) {
  header#about {
    gap: 1rem;
  }

  .right-column {
    justify-content: center;
  }
}
