div.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

section#projects > h2 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

section#projects > h2 > span {
  color: rgb(110, 6, 242);
}

div.card {
  min-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(110, 6, 242); */
  flex: 1 1 30%;
}

div.card:nth-child(2n),
div.card:nth-child(3n) {
  flex: 2 1 50%;
}

div.card:nth-child(4n) {
  flex: 1 1 30%;
}

.img-container {
  position: relative;
  height: 300px;
  border-radius: 1rem;
  background-color: #e1e4f0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.info > h3 {
  font-size: 1.7rem;
}

div.info > p {
  font-size: 1.3rem;
  width: 250px;
}

div.links {
  position: absolute;
  height: 75px;
  width: 180px;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgb(110, 6, 242);
  clip-path: polygon(
    0 100%,
    /* top-left */ 100% 0,
    /* top-right */ 100% 100%,
    /* bottom-right */ 0% 100%
  );
}

div.links > a {
  text-decoration: none;
  color: aliceblue;
  padding: 0.7rem;
  text-align: center;
}

div.links > a.material-icons {
  font-size: 1.5rem;
}

div.view-more-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

div.view-more-container > a {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  border: 3px solid white;
  padding: 4px;
  transition: border-bottom 0.2s ease-in-out;
}

div.view-more-container > a:hover {
  border-bottom: 3px solid rgb(110, 6, 242);
}

@media (max-width: 700px) {
  div.card {
    flex: 1 1 400px;
  }

  div.card:nth-child(2n),
  div.card:nth-child(3n) {
    flex: 1 1 400px;
  }
}
